[submodule "thirdparty/diffusers"]
	path = thirdparty/diffusers
	url = https://github.com/huggingface/diffusers.git
[submodule "thirdparty/llama.cpp"]
	path = thirdparty/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
